 form 
  {
    border-style: solid;
    padding: 20px;
    width: 20%;
  }

  input[type=text]
  {
    width: 90px;
  }

  input 
  {
    margin: 5px;
  }

  p
  {
    margin: 20px;
    width: 40%;
    
  }

   @media only screen and (max-width: 800px) {

form
{
padding: 10px;
width: 40%;
}
  
p
{
margin: 10px;
width: 80%;
 }
}


   @media only screen and (max-width: 600px) {

form
{
padding: 5px;
width: 100%;
}
  
p
{
margin: 5px;
width: 100%;
 }
}
